<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>ARS Cloud Drive</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='logo.css') }}">
</head>
<body>
  <div class="container">
    <div class="cloud">
      <div class="cloud-extra"></div>
    </div>
    <div class="ars-logo">ARS</div>
    <div class="credit">
      Full Stack Development and DevOps: Aswin Raj A <br><br>
      Design Suggestions: Mohamed Suhail S
    </div>
  </div>

  <script>
    setTimeout(() => {
      document.body.classList.add('fade-out');
      setTimeout(() => {
        {% if logged_in %}
          window.location.href = "/dashboard";
        {% else %}
          window.location.href = "/login";
        {% endif %}
      }, 1000);
    }, 4000);
  </script>
</body>
</html>

